body{
    background-color: #f1ecea;
    color: white;
}
header{
 background-color: #3a251c;
 height: 60px;
}

#contenedor{
 
    background-color: rgb(172, 169, 159);
text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
}


#encabezado{
    width: 50%;
    background-color: #3a251c ;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu{
    background-color: #b46424;   
}

.card{
    background-color: rgb(114, 100, 79);
    justify-content: center;
    height: 600px;
    width: 35%;
    justify-content: space-between;
    margin: 5%;
    text-align: center;

  

}
.cardo{
    background-color: rgb(114, 100, 79);
    justify-content: center;
    height: 700px;
    width: 65%;
    justify-content: space-between;
    margin: 5%;
    text-align: center;

  

}

.pie{
    background-color:#3a251c;
    height: 50px;
    width: 100%;
    text-align: center;
 
}

.contenedor{
    width: 64%;
    height: 700px;
    display: flex;
    background-color: #806a61;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
   
    
}

#encabezado{
    width: 100%;
    height: 15%;
    background-color: #3a251c ;
    margin: 1em;
   
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#menu{
    height: 40px;
   
    margin: 1em;
    border-radius: 5px;
}

#pie{
    width: 10%;
    height: 100px;
    background-color: rgb(62, 124, 100);
    margin: 1.5em;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#pie h4{
    width: 10%;
    padding: 20px;
    font-size: 25px;
    color:  black;
}



/*selector de etiqueta de menu*/

ul{
    text-align: center;
    padding: 10px;
}

.li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

.img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 5px;
    justify-items: center;
 }

